html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dot {
  position: relative;
  height: 12px;
  width: 12px;
  background: #34ff4a;
  border-radius: 50%;
}
.dot:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #34ff4a;
  animation: pulse 3s infinite;
  transform-origin: center center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4.5);
    opacity: 0;
  }
}
