.active-dot {
  position: relative;
  height: 8px;
  width: 8px;
  background: #34ff4a;
  border-radius: 50%;
}
.active-dot:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #34ff4a;
  animation: pulse 3s infinite;
  transform-origin: center center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4.5);
    opacity: 0;
  }
}